cmake
pathlib==1.0.1
scandir==1.6
h5py==2.7.1
Keras==2.1.2
scikit-image
dlib
face_recognition
youtube-dl
moviepy
numpy==1.16.0
tqdm
pydot
graphviz
imageio==2.4.1
requests
youtube_dl
tensorflow-gpu==1.5.0


# Required but installed using other means.
#
#opencv-python==3.4.0
#NVidia Cuda 9.0
#cuDNN 7.0 for Cuda 9.0 at https://developer.nvidia.com/rdp/cudnn-download
#also need ImageMagick, download at => http://www.imagemagick.org/download/binaries/
